.Content {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.GridLogo {
	width: fit-content;
	width: --moz-fit-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.Logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;

	&:hover {
		filter: drop-shadow(
			0 0 2em hsla(237, 100%, 70%, 0.667)
		);
	}

	&.React {
		&:hover {
			filter: drop-shadow(
				0 0 2em hsla(193, 95%, 68%, 0.667)
			);
		}
	}

	&.Typescript {
		&:hover {
			filter: drop-shadow(
				0 0 2em hsla(211, 60%, 48%, 0.667)
			);
		}
	}
	&.Sass {
		&:hover {
			filter: drop-shadow(
				0 0 2em hsla(330, 53%, 60%, 0.667)
			);
		}
	}
	&.Storybook {
		&:hover {
			filter: drop-shadow(
				0 0 2em hsla(340, 100%, 64%, 0.667)
			);
		}
	}
	&.Vitest {
		&:hover {
			filter: drop-shadow(
				0 0 2em hsla(79, 70%, 36%, 0.667)
			);
		}
	}
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .Logo {
		animation: logo-spin infinite 20s linear;
	}
}

.Card {
	padding: 2em;
}

.ReadTheDocs {
	color: #888;
}
